* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
  background-color: #effafa;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.container {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (max-width: 1200px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.btn {
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.btn--primary {
  background-color: #eef6f6;
  color: #5ba4a4;
  font-weight: 500;
  padding: 0.4rem 0.5rem;
  border-radius: 5px;
}

.btn--primary:hover {
  background-color: #5ba4a4;
  color: #fff;
}

.btn--selected {
  background-color: #eef6f6;
  color: #5ba4a4;
  font-weight: 500;
  padding: 0.4rem 2.5rem 0.5rem 0.4rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.btn--selected:after {
  content: "";
  position: absolute;
  width: 32px;
  height: 100%;
  background-image: url("../images/icon-remove.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px;
  top: 0;
  right: 0;
  background-color: #5ba4a4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn--selected:hover::after {
  background-color: #2c3a3a;
}

.header {
  background-color: #5ba4a4;
  background-image: url(../images/bg-header-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 156px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.filter__list {
  margin-top: -2rem;
  background-color: #fff;
  padding: 1rem 2rem;
  display: none;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__list .list__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter__list .list__left .btn {
  cursor: pointer;
  margin: 0.25rem 0.75rem 0.25rem 0rem;
}

.filter__list .list__right .btn {
  cursor: pointer;
  color: #5ba4a4;
}

.filter__list .list__right .btn:hover {
  text-decoration: underline;
}

.jobs {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.jobs__list .jobs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  margin-bottom: 1.75rem;
}

@media (max-width: 768px) {
  .jobs__list .jobs__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1.25rem;
    margin-bottom: 3rem;
  }
}

.jobs__list .jobs__item:before {
  content: "";
  position: absolute;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #5ba4a4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media (max-width: 768px) {
  .jobs__list .jobs__item:before {
    top: 0;
  }
}

.jobs__list .jobs__item .item__left .image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .jobs__list .jobs__item .item__left .image {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 768px) {
  .jobs__list .jobs__item .item__left {
    position: absolute;
    top: -1.5rem;
  }
}

.jobs__list .jobs__item .item__center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 1.25rem;
  width: 100%;
}

@media (max-width: 768px) {
  .jobs__list .jobs__item .item__center {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    border-bottom: 1px solid #7b8e8e;
    margin-left: 0;
    margin-top: 1rem;
  }
}

.jobs__list .jobs__item .item__center--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jobs__list .jobs__item .item__center--header .name {
  color: #5ba4a4;
  font-weight: 500;
  cursor: pointer;
}

.jobs__list .jobs__item .item__center--header span {
  margin-left: 0.5rem;
  padding: 0.3rem 0.5rem 0.2rem;
  color: #fff;
  border-radius: 50px;
}

.jobs__list .jobs__item .item__center--header span.new {
  background-color: #5ba4a4;
}

.jobs__list .jobs__item .item__center--header span.featured {
  background-color: #2c3a3a;
}

.jobs__list .jobs__item .item__center--body {
  margin: 1rem 0;
}

.jobs__list .jobs__item .item__center--body .title {
  cursor: pointer;
}

.jobs__list .jobs__item .item__center--body .title h4 {
  font-weight: 500;
}

.jobs__list .jobs__item .item__center--body .title:hover {
  color: #5ba4a4;
}

@media (max-width: 768px) {
  .jobs__list .jobs__item .item__center--footer {
    padding-bottom: 1rem;
  }
}

.jobs__list .jobs__item .item__center--footer span {
  font-size: 1rem;
  margin-right: 1rem;
  color: #7b8e8e;
  font-weight: 500;
  position: relative;
  letter-spacing: 0.5px;
}

.jobs__list .jobs__item .item__center--footer span:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #7b8e8e;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 0.5rem;
}

.jobs__list .jobs__item .item__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .jobs__list .jobs__item .item__right {
    margin-top: 0.75rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.jobs__list .jobs__item .item__right .btn {
  cursor: pointer;
  margin-left: 0.75rem;
  margin-right: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .jobs__list .jobs__item .item__right .btn {
    margin-left: 0;
    margin-right: 0.75rem;
  }
}
/*# sourceMappingURL=style.css.map */